
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@500&display=swap');

/******* Global Variables Here */
:root {
    --contentFontFamily:'Rubik', sans-serif;

}

/*  *** Header starting here    */
header {
    display:flex;
    flex-direction: row;
}

header #mainHeader {
    margin: 1.7rem 0 0 12rem;
    font-family: 'Poppins', sans-serif;
   
}

header #nav {
    position: absolute;
    right: 11rem;
    top: 3rem;
}

header #nav .nav-links {
    color: black;
    text-decoration: none;
    padding:0 1rem;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}

header {
    /* border-bottom: 1px solid lightgray; */
    padding: 0 0 1rem 0;
    box-shadow: 5px 10px 8px #88888833;
}



/** ******* Main Section Starting Here ***** **/
#container {
    margin:0 12rem;
}

#container #main-sub-para #para {
    color: lightslategray;
    font-size: 1.1rem;
}

/** ******* Banner Section Starting Here ***** **/

#container #banner {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#container #banner:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container #banner #inner-content {
    display:flex;
    flex-direction: row;
}

/** ******* Banner Left Mobile Section Starting Here ***** **/
#container #banner #inner-content #mobile {
    margin: 6rem 4rem 6rem 6rem;
}

#container #banner #inner-content #mobile-sub-heading {
    position: relative;
    left: 10%;
    top: 5%;
    border: 1px solid black;
    width: 130px;
    /* padding: 0.5rem; */
    display: flex;
}

#container #banner #inner-content #mobile-sub-heading .checkbox {
    border-right: 1px solid black;
    padding: 10px;
}

/** ******* Banner Right Mobile Section Starting Here ***** **/
#container #banner #inner-content #details .details-header {
    /* display: flex; */
    margin: 5rem 0 0 0;
}
/* 
#container #banner #inner-content #details .details-header h1 {
    
} */

#container #banner #inner-content #details .details-header .sub-block {
    margin: 0 1.5rem;
}

#container #banner #inner-content #details .details-header .sub-block  #exe {
    position: relative;
    left: 10rem;
    top: 1rem;
}
#container #banner #inner-content #details .details-header .sub-block #heading-block {
     display: flex;
 }
 #container #banner #inner-content #details .details-header .sub-block #heading-block h1{
    font-family: 'Poppins', sans-serif;
 }
 #container #banner #inner-content #details .details-header .sub-block #chd-block #strSpan {
     margin-left: 5px;
 }

 #container #banner #inner-content #details .details-header .sub-block #chd-block #ratingSpan {
    font-size: 35px; 
    color: #545454c9; 
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
 }

#container #banner #inner-content #details .details-header .sub-block #chd-block .btn-anrd {
    background-color: #5454540d;
    border: transparent;
    position: relative;
    bottom: 1.3rem;
    left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
/** ******* Three color Boxes ***** **/
#container #banner #inner-content #details .details-header .sub-block .box-section {
    display: flex;
}
#container #banner #inner-content #details .details-header .sub-block .box-section .box {
    height: 30px;
    width: 30px;
    margin: 1rem 1rem 0 0;
}
#container #banner #inner-content #details .details-header .sub-block .box-section .box-1 {
    
    background: #393556;
}

#container #banner #inner-content #details .details-header .sub-block .box-section .box-2 {
    
    background: #b7afa2;
}

#container #banner #inner-content #details .details-header .sub-block .box-section .box-3 {
   
    background: #040404;
}

/** ******* Price with Shop Now Button ***** **/
#container #banner #inner-content #details .details-header .sub-block .buy-block {
    margin: 2rem 0 0 0;
}

#container #banner #inner-content #details .details-header .sub-block .buy-block .text {
    color:#4573f3e0;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

#container #banner #inner-content #details .details-header .sub-block .buy-block .buy-now {
    padding:1rem;
    background: #4573f3e0;
    color: #fff;
    margin: 0 0 0 1rem;
    border-radius: 30px;
    border: transparent;
    width: 150px;
    font-weight: bold;
    position: relative;
    bottom: 0.5rem;
}
#container #banner #inner-content #details .details-header .sub-block #hrrr {
    width: 600px; 
    position: relative; 
    right: 18px
}
/** ******* Features Section Starting here ***** **/
#container #banner #inner-content #details .details-header .sub-block .features{
    margin-top: -1.5rem;
 }
#container #banner #inner-content #details .details-header .sub-block .features ul {
    display: flex;
    padding-inline-start: 0;
}

#container #banner #inner-content #details .details-header .sub-block .features ul li {
    list-style-type: none;
    margin: 0 4rem 0 0;
    width: 95px;
    display: flex;
    flex-direction: column;
}

#container #banner #inner-content #details .details-header .sub-block .features ul li .feature-name {
    font-size: 21px;
    color: #545454c9;
    font-family: 'Poppins', sans-serif;
}

#container #banner #inner-content #details .details-header .sub-block .features ul li img {
    width: 40px;
    margin: 2rem 0;
    position: relative;
    left: 0.2rem;
}

#container #banner #inner-content #details .details-header .sub-block .features ul li .recom {
    margin: 1rem 0;
    color: #545454c9;
    font-family: 'Poppins', sans-serif;
}

/** ******* Sub Features Section Starting here ***** **/
#container #banner #inner-content #details .details-header .sub-block #sub-features-list ul {
    display: flex;
    padding-inline-start: 0;
}

#container #banner #inner-content #details .details-header .sub-block #sub-features-list ul li{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#container #banner #inner-content #details .details-header .sub-block #sub-features-list ul li img {
    width:80px;
    height:30px;
}

#container #banner #inner-content #details .details-header .sub-block #sub-features-list ul li .feature-span {
    margin: 1rem 0 0 0;
    color: #545454c9;
    font-family: 'Poppins', sans-serif;
}


/** ******* Bottom list Section Starting here ***** **/

#container #banner .bottomList{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    
    background-color:#6d939314;
}
/* #container #banner #bottom-list {
   
} */



#container #banner .bottomList .list-item {
    list-style-type: none;
    
    flex-grow: 1;
    /* position: relative; */
    /* left: 4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color:hsl(163deg 99% 49% / 88%);
    
}
#container #banner .bottomList .active {
    background-color:#4573f3e0;
    color:#fff;
    
}
#container #banner .bottomList .list-item .content {
    margin: 1rem;
}

#container #banner .bottomList .list-item .btm-img {
    /* width: 40px; */
    object-fit: contain;
}

#container #banner .bottomList .list-item .btm-span {
    font-family: 'Poppins', sans-serif;
    /* margin: 0rem; */
    position: relative;
    top: 0.5rem;
}


/*************** Specification Starting Here **************** ******/
#container .spec-section {
    display: flex;
}

#container .spec-section .spec {
    /* grid-column: 1;
    grid-row: 1; */
    margin: 3rem 1.5rem 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:63%;
}

#container .spec-section .spec:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#container .spec-section .spec .spec-item .spec-item-title .content .content-heading {
    font-family: 'Poppins', sans-serif;
}



#container .spec-section .spec .spec-item .table {
    display: table;
    padding: 1rem 3rem;
 }

/********************* Sepcification-->> Advertisement */
#container .spec-section .side-section {
    width: 35%;
    margin: 3rem 0 0 0;
}


#container .spec-section .side-section  .advertise {
    /* grid-column: 2;
    grid-row: 1; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#container .spec-section .side-section  .advertise:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#container .spec-section .side-section  .advertise img {
    padding: 1rem;
    width: 360px;
}

/********************* Sepcification-->> Related Products */

 
#container .spec-section .side-section .related-products {
    /* grid-column: 2;
    grid-row: 2; */
    margin: 1rem 0 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#container .spec-section .side-section .related-products:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

#container .spec-section .side-section .related-products .products-container {
    display: flex;
    flex-direction: column;
}
#container .spec-section .side-section .related-products .products-container .products-heading {
    margin: 0 1rem;
    font-family: 'Poppins', sans-serif;
}

#container .spec-section .side-section .related-products .products-container hr {
    width: 391px;
}

#container .spec-section .side-section .related-products .products-container .proudcts-deatils {
    display: flex;
}

#container .spec-section .side-section .related-products .products-container .proudcts-deatils .img {
    width: 30%;
    /* height: 200px; */
    position: relative;
    top: 0.5rem;
    left: 1rem;
    margin: 0 0 2rem 0;
}

#container .spec-section .side-section .related-products .products-container .proudcts-deatils .img .product-img {
    height: 120px;
}

#container .spec-section .side-section .related-products .products-container .proudcts-deatils .products-para {
    margin:0;
}

#container .spec-section .side-section .related-products .products-container .proudcts-deatils .products-para .productName {
    margin-block-end: 1rem;
    font-family: 'Poppins', sans-serif;
}
#container .spec-section .side-section .related-products .products-container .proudcts-deatils .products-para .price {
    margin-block-start: 0;
    margin-block-end: 0;
    color:#0c7df1;
    font-family: 'Poppins', sans-serif;
}

#container .spec-section .side-section .related-products .products-container .proudcts-deatils .products-para .products-span {
    font-family: 'Poppins', sans-serif;
}





/************ Reviews Section Starting Here *************/
#container .reviews {
    margin: 3rem 0 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#container .reviews:hover {
    margin: 3rem 0 0 0;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

#container .reviews .spec-item-title .rev-content{
    /* margin: 3rem 0 0 0; */
    display: flex;
}

#container .reviews .spec-item-title .rev-content #sort {
    position: absolute;
    right: 14rem;
}

#container .reviews .spec-item-title .rev-content #sort #sortSpan {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 0 1rem 0 0;
}

#container .reviews .spec-item-title .rev-content #sort #sortSelect {
    padding: 0.5rem;
    border: 1px solid #bdbdbd;
    color: #545454c9;
    font-family: 'Poppins', sans-serif;
}

#container .reviews .spec-item-title .rev-content .rev-heading {
    position: relative;
    top: 4px;
    font-family: 'Poppins', sans-serif;
}

#container .reviews .rev-btn-section {
    padding: 1rem 3rem;
}

#container .reviews .rev-btn-section .btn {
    padding: 0.5rem;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    color: #545454c9;
    font-family: 'Poppins', sans-serif;
} 

#container .reviews #positive-review {
    padding: 1rem 3rem;
}
#container .reviews #positive-review .pos-header #header {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 15px;
    bottom: 8px;
    font-family: 'Poppins', sans-serif;
}
#container .reviews #positive-review .pos-feed {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0.7rem;
}

#container .reviews #positive-review .pos-feed .date {
    margin: 1rem 0;
    color: #545454c9;
    
}
#container .reviews #positive-review .pos-feed .date .ratingSpan {
    margin-right: 0.5rem;
    font-size: 0.83em;
}

#container .reviews #positive-review .pos-feed .date .ratingDate {
    margin-left: 0.5rem;
    font-size: 0.83em;
}

#container .reviews #positive-review .pos-feed .feed-name {
    margin: 1rem 0;
    color: #545454c9;
    font-size: 0.83em;
    
}
#container .reviews #positive-review .pos-feed h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0.5rem 0;
    
}
.rev-sub-container {
    margin: 2rem 3rem;
}

.rev-sub-container .cam .table .row .right-head .revi-header {
    position: relative;
    left: 33%;

}
#container .reviews .cam .all-phn {
    display: flex;
}
#container .reviews .cam .all-phn p{
    color: lightslategray;
    font-size: 1.1rem;
    margin: 1.5rem 0 0 5rem;
}

.progress {
    background-color: #d8d8d8;
    /* border-radius: 20px; */
    position: relative;
    /* margin: 15px 0; */
    top: 10px;
    left: 15px;
    height: 30px;
    width: 535px;
}
.progress-done {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
	/* opacity: 0;
	transition: 1s ease 0.3s infinite; */
}
.percentWithClr_1 {
    background: linear-gradient(to left, #9cf270, #72f8ff);
    /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
    /* border-radius: 20px; */
    color: #fff;
    width: 90%;
}

.percentWithClr_2 {
    background: linear-gradient(to left, #ef0e61, #f12100);
    /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
    /* border-radius: 20px; */
    color: #fff;
    width: 35%;
}

.percentWithClr_3 {
    background: linear-gradient(to left, #70f2da, #0b9ef5);
    /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
    /* border-radius: 20px; */
    color: #fff;
    width: 65%;
}



/************ Compare Section Starting Here *************/
#container .compare {
    margin: 3rem 0 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



/************ Footer Section Starting Here *************/
#footer {
    background-color: #121010e3;
    color: #fff;
    
    padding:2rem;
    
    
}
#footer .sub-container{
    display: flex;
    width: 69%;
    margin: 0 15%;
    
}

#footer .sub-container .item {
    /* flex-grow: 1; */
    flex-grow: 1;
    
}
#footer .sub-container .item .footer-header{
    font-family: 'Poppins', sans-serif;
}


#footer .sub-container .item .footer-para {
    line-height:1.8rem;
    font-family: 'Poppins', sans-serif;
}

#footer .sub-container .sitename {
    /* width: 400px; */
}

#footer .sub-container .twitter-feeds {
    /* width: 400px; */
    margin: 0 0 0 1rem;
}
#footer .sub-container .instagram-feeds {
    margin: 0 0 0 3rem;
}
#footer .sub-container .instagram-feeds .grids-gallery-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 70px 70px 70x;
    grid-template-columns: 70px 70px 70x;
}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-1 {
    grid-column:1;
    grid-row: 1;
    cursor:pointer;
    
}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-2 {
    grid-column:2;
    grid-row: 1;
    cursor:pointer;

}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-3 {
    grid-column:3;
    grid-row: 1;
    cursor:pointer;
}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-4 {
    grid-column:4;
    grid-row: 1;
    cursor:pointer;
}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-5 {
    grid-column:1;
    grid-row: 2;
    cursor:pointer;
}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-6 {
    grid-column:2;
    grid-row: 2;
    cursor:pointer;
}

#footer .sub-container .instagram-feeds .grids-gallery-container .img-7 {
    grid-column:3;
    grid-row:2;
    cursor:pointer;
}



#footer .sub-container .instagram-feeds .grids-gallery-container .img-8 {
    grid-column:4;
    grid-row: 2;
    cursor:pointer;
}




/***** Helper css *****/

.mr {
    margin-right: 0.5rem;
}
.spec-item-title {
    background-color:#6d939314;
} 
.content-heading {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 15px;
    bottom: 8px;
}

.content {
    padding: 1rem 3rem;
}

/*****  Helper Table CSS ******/
.row {
    display: table-row;
 }
 
 .cell {
    display: table-cell;
 }
 
.row,
 .cell {
    padding: 10px 50px 10px 0;
 }

.left-head {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
 }
 .right-head {
    color: #545454c9;
    font-family: 'Poppins', sans-serif;
 }

 .lg-color {
    color: #545454c9;
 }

 @media (max-width:1068px){
    /*  *** Header starting here    */
    header {
        padding: 0 0 1rem 0;
        width: fit-content;
        box-shadow: 2.5px 5px 4px #88888833;
    }
    
    
    
    header #mainHeader {
        margin: 0;
        font-size: 20px;
    }
    header #nav {
        display: flex;
        position: initial;

    }
    header #nav .nav-links {
        font-size: 15px;
        padding: 0 5px 0 0;
    }

    /** ******* Main Section Starting Here ***** **/
    #container {
        margin:0;
    }
    #container #banner {
        width: 548px;
    }
    #container #main-sub-para #para {
        font-size: 16px;
    }
    #container #banner #inner-content {
        display: flex;
        flex-direction: column;
    }
    #container #banner #inner-content #mobile {
        margin: 1rem auto;
    }
    #container #banner #inner-content #details .details-header {
        /* display: flex; */
        margin:0;
    }
    #container #banner #inner-content #details .details-header .sub-block {
        margin: 0 10px;
    }
    #container #banner #inner-content #details .details-header .sub-block #heading-block h1 {
        font-size: 30px;
    }
    #container #banner #inner-content #details .details-header .sub-block #exe {
        position: relative;
        left: 4rem;
        top: 2rem;
        width: 130px;
    }
    #container #banner #inner-content #details .details-header .sub-block #chd-block #ratingSpan {
        font-size: 20px;
    }
    #container #banner #inner-content #details .details-header .sub-block #chd-block .btn-anrd {
        background-color: #5454540d;
        border: transparent;
        position: relative;
        bottom: 0.3rem;
        left: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight:lighter;
    }
    #container #banner #inner-content #details .details-header .sub-block .box-section .box {
        height: 20px;
        width: 20px;
        margin: 0.5rem 0.5rem 0 0;
    }
    #container #banner #inner-content #details .details-header .sub-block .buy-block {
        margin: 1rem 0 0 0;
    }
    #container #banner #inner-content #details .details-header .sub-block .buy-block .text {
    font-size: 20px;
    }
    #container #banner #inner-content #details .details-header .sub-block .buy-block .buy-now {
        padding: 0.5rem;
        background: #4573f3e0;
        color: #fff;
        margin: 0 0 0 0.5rem;
        border-radius: 15px;
        border: transparent;
        width: 100px;
        font-weight: bold;
        position: relative;
        bottom: 0.25rem;
    }
    #container #banner #inner-content #details .details-header .sub-block .features ul li {
        list-style-type: none;
        margin: 0 1rem 0 0;
        width: 95px;
        display: flex;
        flex-direction: column;
    }
    #container #banner #inner-content #details .details-header .sub-block .features ul li img {
        width: 30px;
        margin: 1rem 0;
        position: relative;
        left: -0.4rem;
    }
    #container #banner #inner-content #details .details-header .sub-block .features ul li .feature-name {
        font-size:14px;
    }
    #container #banner #inner-content #details .details-header .sub-block .features ul li .recom {
        margin: 0.5rem 0;
        font-size: 11px;
    }

    #container #banner #inner-content #details .details-header .sub-block #sub-features-list ul li .feature-span {
        font-size: 11px;
    }
    #container #banner #inner-content #details .details-header .sub-block #sub-features-list ul li img {
        width: 70px;
        height: 30px;
    }
    #container #banner #inner-content #details .details-header .sub-block #hrrr {
        width: 535px;
        position: relative;
        right: 5px;
    }
    #container #banner .bottomList .list-item .btm-img {
        width: 20px;
    }
    #container #banner .bottomList .list-item .btm-span {
        font-size: 10px;
    }

    /*************** Specification Starting Here **************** ******/
    #container .spec-section {
        display: flex;
        flex-direction: column;
    }

    #container .spec-section .spec {
        width: fit-content;
    }
    /* .content-heading {
        font-size: 14px;
        font-weight: bold;
        position: relative;
        left: 10px;
        bottom: 8px;
    } */
    #container .spec-section .side-section {
        width: max-content;
    }
    #container .spec-section .side-section .advertise img {
        width: 512px;
    }
    #container .spec-section .side-section .related-products .products-container hr {
        width: 511px;
    }
    #container .reviews {
        width: 548px;
    }
    #container .reviews .spec-item-title .rev-content #sort {
        position: absolute;
        right: -11rem;
    }
    #container .reviews .rev-btn-section .btn {
        margin:0.2rem;
    }
    .progress {
        background-color: #d8d8d8;
        /* border-radius: 20px; */
        position: relative;
        /* margin: 15px 0; */
        top: 10px;
        left: 15px;
        height: 15px;
        width: 301px;
    }
    .compareScale{
        width: 315px;
    }
    .rev-sub-container .cam .table .row .right-head .revi-header {
        position: relative;
        left: 15%;
    }

    

}





